<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ title }}</title>
		{% load static %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/script.js' %}"></script>
	</head>
	<body>
		<main class="container-fluid">
			<h1 class="mb-4 pb-2 text-center">{{ title }}</h1>
			<p class="lead">Your Gold: {{ ninjaGold }}</p>
			<div class="card-deck mb-4">
				{% for place in request.session.places %}
				<div class="card card-body bg-light border-dark text-center">
					<h5 class="card-title">{{ place.name }}</h5>
					<p class="card-text">(earns {{ place.minGold }} - {{ place.maxGold }} gold)</p>
					<a href="/process_money/{{ place.name }}" class="btn btn-warning" role="button">Find Gold!</a>
				</div>
				{% endfor %}
			</div>
			<p class="mb-0">Activities:</p>
			<div style="height: 340px; overflow-y: scroll;" class="border border-dark">
				{% for activity in activities %}
				<p style="line-height: 1;" class="m-0 p-1 text-{{ activity.color }}">{{ activity.message }}</p>
				{% endfor %}
			</div>
		</main>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>